*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Jamal;
    src: url(./Fonts/Pacifico/Pacifico-Regular.ttf);
}

.nav-bar{
    width: 100%;
    background-color: rgb(39, 36, 36);
    height: 80px;
}

.nav{
    width: 85%;
    margin: auto;
    color: white;
    display: flex;
    justify-content: space-between;
}

.logo{
    font-family: Jamal;
    margin-top: 20px;
}

.navs h4{
    display: inline-block;
    margin-top: 25px;
    margin-left: 20px;
}

.body{
    width: 100%;
}

.first-section{
    width: 85%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 150px;
    height: 250px;
    display: flex;
}

.material{
    width: 35%;
}

.material h2{
    margin-bottom: 10px;
}

.material p{
    margin-bottom: 40px;
}

.material button{
    background-color: rgb(227, 150, 7);
    color: white;
    border: none;
    width: 25%;
    height: 25px;
    border-radius: 5px;
    text-align: center;
}

.image{
    margin-left: 20px;
    width: 50%;
    margin: auto;
}

img{
    height: 250px;
    width: 640px;
}

.second-section{
    width: 85%;
    margin: auto;
    margin-top: 100px;
    height: 550px;
}

.second-section h2{
    margin-bottom: 15px;
}

.cards{
    display: flex;
    justify-content: space-between;
}

.card-material{
    width: 250px;
}

.card-material h3{
    margin-bottom: 10px;
}

.card-material p{
    text-align: left;
    margin-bottom: 20px;
}

.card-material button{
    background-color: rgb(227, 150, 7);
    color: white;
    border: none;
    width: 40%;
    height: 25px;
    border-radius: 5px;
    text-align: center;
}

.placeholder{
    background-color: rgb(39, 36, 36);
    width: 250px;
    height: 200px;
    margin-bottom: 10px;
}

.third-section{
    width: 100%;
    background-color: rgb(39, 36, 36);
    padding-top: 50px;
    padding-bottom: 50px;
    color: #ccc;
    font-family: sans-serif;
}

.post-about-connection{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.third-section h3 {
    color: white;
    margin-bottom: 20px;
    font-size: 18px;
}

.latest-posts {
    width: 30%;
}

.post-item {
    display: flex;
    margin-bottom: 20px;
    align-items: flex-start;
}

.month-date {
    background-color: white;
    color: black;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 3px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.month-date .month {
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    line-height: 1;
    padding-top: 5px;
}

.month-date .date {
    font-size: 20px;
    font-weight: 800;
    margin: 0;
    line-height: 1;
}

.post-item .description h4 {
    color: white;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: normal;
}

.post-item .description p {
    font-size: 13px;
    line-height: 1.4;
}

.about {
    width: 30%;
}

.about p {
    font-size: 13px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.stay-connected {
    width: 25%;
}

.social-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    /* border-bottom: 1px solid #444; */
    padding-bottom: 10px;
}

.social-row:last-child {
    border-bottom: none;
}

.social-icon {
    width: 30px;
    height: 30px;
    color: white;
    text-align: center;
    line-height: 30px;
    margin-right: 15px;
    font-weight: bold;
    font-family: serif;
    border-radius: 2px;
}

.social-text {
    font-size: 14px;
}

.fb{
    background-color: #3b5998;
}

.tw{
    background-color: #00aced;
}

.rss{
    background-color: #f26522;
}

.gp
{
    background-color: #dd4b39; 
}

.footer{
    width: 100%;
    margin: auto;
    text-align: center;
    height: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 12px;
    color: #666;
}